* { margin: 0; padding: 0; box-sizing: border-box; user-select: none; }
svg { width: 24px; height: 24px; display: block; }
path { stroke: currentColor; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2; }
body > canvas { position: absolute; inset: 0; z-index: -2; }
body { background-color: #000; color: #FFF; font-family: monospace; }
root > header { background-color: rgba(0, 0, 0, .8); width: 100%; height: 48px; display: flex; align-items: center; justify-content: space-between; }
root > header > pre::before { content: "                                   ..                                                                  \A                             < .z@8\"`                                   x=~                            \A   x.    .        u.    u.    !@88E           u.    u.      uL   ..    88x.   .e.   .e.     u.    u.   \A .@88k  z88u    x@88k u@88c.  '888E   u     x@88k u@88c.  .@88b  @88R '8888X.x888:.x888   x@88k u@88c. \A~8888 ^8888   ^\"8888\"\"8888\"   888E u@8NL  ^\"8888\"\"8888\" '\"Y888k/\"*P   `8888  888X '888k ^\"8888\"\"8888\" \A  8888  888R     8888  888R    888E`\"88*\"    8888  888R     Y888L       X888  888X  888X   8888  888R  \A  8888  888R     8888  888R    888E .dN.     8888  888R      8888       X888  888X  888X   8888  888R  \A  8888  888R     8888  888R    888E~8888     8888  888R      `888N      X888  888X  888X   8888  888R  \A  8888 ,888B .   8888  888R    888E '888&    8888  888R   .u./\"888&    .X888  888X. 888~   8888  888R  \A \"8888Y 8888\"   \"*88*\" 8888\"   888E  9888.  \"*88*\" 8888\" d888\" Y888*\"  `%88%``\"*888Y\"     \"*88*\" 8888\" \A  `Y\"   'YP       \"\"   'Y\"   '\"888*\" 4888\"    \"\"   'Y\"   ` \"Y   Y\"       `~     `\"          \"\"   'Y\"   \A                                \"\"    \"\"                                                               "; }
root > header > pre { font-size: .2rem; font-weight: 900; color: #0FF; }
root > header > div { display: none; }
root > header > div path { d: path("M5 7h14M5 12h14M5 17h14") }
root > header > nav { display: flex; height: 48px; }
root > header > nav > div { position: relative; }
root > header > nav > div > button { background-color: inherit; border: none; color: inherit; width: 100%; height: 48px; padding: 10px; display: flex; align-items: center; justify-content: center; }
root > header > nav > div > button path { d: path("m8 10 4 4 4-4"); }
root > header > nav > div:hover > button { color: #0FF; }
root > header > nav > div:hover > button path { d: path("m16 14-4-4-4 4"); }
root > header > nav > div:last-child > ul { right: 0; text-align: right; }
root > header > nav > div:hover > ul { display: flex; flex-direction: column; position: absolute; white-space: pre; }
root > header > nav > div > ul { display: none; list-style: none; }
root > header > nav > div > ul > li { padding: 10px; }
root > header > nav > div > ul > li:hover { color: #0FF; }
root > main { width: 100%; height: calc(100vh - 48px); }
@media (max-width: 680px) {
    root > header > div { display: block; padding: 12px; }
    root > header > div.active ~ nav { display: flex; }
    root > header > div.active path { d: path("M6 18 17.94 6M18 18 6.06 6") }
    root > header > nav { background-color: rgba(0, 0, 0, .8); position: fixed; width: 100%; height: calc(100% - 48px); bottom: 0; left: 0; display: none; flex-direction: column; }
    root > header > nav > div:focus-within > button { color: #0FF; }
    root > header > nav > div:focus-within > button path { d: path("m16 14-4-4-4 4"); }
    root > header > nav > div:focus-within > ul { display: block; }
}