* { padding: 0; margin: 0; box-sizing: border-box; scrollbar-width: none; }
body { background-color: #000000; color: #FFFFFF; font-family: "Fira Code", monospace; overflow: hidden; user-select: none; }
header { display: flex; align-items: center; justify-content: space-between; z-index: 1; }
header > pre { font-size: .2rem; font-weight: 900; color: #00FFFF; }
header > nav {  }
header > nav > input { display: none; }
header > nav > label { display: none; padding: 10px; }
header > nav > label path { d: path('M5 7h14M5 12h14M5 17h14'); }
header > nav > div { background-color: #000000; }
header > nav > div > div { display: inline-block; position: relative; }
/* header > nav > div > div > button { position: relative; border: none; color: inherit; background: inherit; font-weight: bold; width: 100%; height: 48px; padding: 0 10px; } */
/* header > nav > div > div > button svg { display: inline; } */
header > nav > div > div > button { position: relative; border: none; color: inherit; background: inherit; font-weight: bold; width: 100%; height: 48px; padding: 0 10px; display: inline-flex; align-items: center; }
header > nav > div > div > button svg { display: inline; vertical-align: middle; }
header > nav > div > div > button path { d: path('m8 10 4 4 4-4'); }
header > nav > div > div:hover > button { color: #00FFFF; }
header > nav > div > div:hover > button path { d: path('m16 14-4-4-4 4') }
header > nav > div > div > button:hover::after { position: absolute; inset: auto auto 0 0; content: ""; background: #00FFFF; width: 100%; height: 2px; }
header > nav > div > div:hover > div { display: block; }
header > nav > div > div > div { position: absolute; display: none; width: 100%; background-color: #000000; }
header > nav > div > div > div > span { display: block; padding: 10px; width: 100%; position: relative; }
header > nav > div > div > div > span:hover { color: #00FFFF; }
header > nav > div > div > div > span:hover::after { position: absolute; inset: auto auto 0 0; content: ""; background: #00FFFF; width: 100%; height: 2px; }
main { padding: 5px; overflow: auto; position: absolute; inset: 0; margin-top: 48px; z-index: -1; }
svg { width: 24px; height: 24px; display: block; }
path { stroke: currentColor; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2; }
h2::before { content: "## " } h2 { color: #FF00FF; font-size: 1rem; }
h3::before { content: "### "; } h3 { color: #00FF66;  font-size: 1rem; }
.cols-box { width: 100%; display: inline-grid; grid-auto-flow: column; }
.box { background-color: rgba(50, 50, 50, .5); color: #999999; padding: 10px; margin: 5px; }
ul { list-style: decimal-leading-zero inside; }
ul > li > span::before { content: "["; color: #555555; }
ul > li > span::after { content: "]"; color: #555555; }
ul > li > span:hover { color: #00FFFF; }
ul > li > span { color: #00BBFF; }
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@media (max-width: 600px) {
    header > nav > label { display: block; }
    header > nav > div { display: none; position: absolute; top: 48px; left: 0; right: 0; bottom: 0; }
    header > nav > div > div { display: block; }
    header > nav > div > div > div { width: 100%; position: relative; }
    #nav-button:checked ~ div { display: block; }
    #nav-button:checked ~ label { color: #00FFFF; }
    #nav-button:checked ~ label path { d: path('M6 18 17.94 6M18 18 6.06 6'); }
    .cols-box { grid-auto-flow: row; }
}
